
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    color: white;
}
body{
    max-width: 360px;
    margin: 0 auto;
}
.wrapper{
    height: 650px;
    background: #000;
    margin: 15px;
    border-radius: 35px;
    padding: 15px;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.logo{
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    font-family: "Mrs Saint Delafield", cursive;
}
.body{
    text-align: center;
    margin-top: 335px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
#proceed{
    margin-top: 35px;
    width: 50%;
    height: 50px;
    border: none;
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    margin-left: 165px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 20px;
}